
<section class="book-list container">

    
    <article id="primero" class="book">
        <a  href="detail.html"> 
            
            <img src="img/wok.jpg" class="cover" alt=""> 
            
        </a>
        <div class="titulo"> The Way <br/>of Kings</div>
        <div class="extra-info">Primera parte del Archivo Stormlight</div>
    </article>
    

    <article class="book">
        <a class="enlace" href="detail.html"><img src="../img/wor.jpg" class="cover"  alt=""> </a>
        <div class="titulo">Words of Radiance</div>
        <div class="extra-info">Segunda parte del Archivo Stormlight</div>
    </article>

    <article class="book">
        <img class="cover" src="../img/oathbringer.jpg" alt="">
        <div class="titulo">Oathbringer</div>
        <div class="extra-info">Tercera parte del Archivo Stormlight</div>
    </article>

    <article class="book">
        <img class="cover" src="../img/mistborn.jpeg" alt="">
        <div class="titulo">The Final Empire</div>
        <div class="extra-info">Primera parte de Mistborn</div>
    </article>

    <article class="book">
        <img class="cover" src="../img/woa.jpeg" alt="">
        <div class="titulo">The well of ascension</div>
        <div class="extra-info">Segunda parte de Mistborn</div>
    </article>

    <article class="book">
        <img class="cover" src="../img/hoa.jpg" alt="">
        <div class="titulo">The Hero of Ages</div>
        <div class="extra-info">Tercera parte de Mistborn</div>
    </article>


    <article class="book">
        <img class="cover" src="../img/aol.jpeg" alt="">
        <div class="titulo">The Alloy of Law</div>
        <div class="extra-info">Cuarta parte de Mistborn</div>
    </article>


    <article class="book">
        <img class="cover" src="../img/sos.jpg" alt="">
        <div class="titulo">Shadows <br/>of Self</div>
        <div class="extra-info">Quinta parte de Mistborn</div>
    </article>

    <article class="book">
        <img class="cover" src="../img/bom.jpg" alt="">
        <div class="titulo">The Bands of Mourning</div>
        <div class="extra-info">Sexta parte de Mistborn</div>
    </article>

    <article class="book">
        <img class="cover" src="../img/arcanum.jpg" alt="">
        <div class="titulo">Arcanum Unbounded</div>
        <div class="extra-info">Colección de relatos</div>
    </article>
    


</section>