
<section class="detail-info container">

    <div class="important-info">
        <img class="detail-cover" src="img/wok.jpg" alt="">

        <div class="right">
             <div class="detail-title">
                The Way of Kings
            </div>

        <div class="detail-info">
            <div class="detail-info1">
                Primera parte <br/> del Archivo Stormlight
            </div>

            <div class="detail-info2">
                    2010
            </div>

        </div>

        </div>
    </div>


    <div class="texto1">
            <div>
            I’ve been asked to introduce <span class="cursiva">The Way Of Kings </span> to you. And I have <span class="negrita">no idea</span> how to start. <br/>
            </div>
            <div class="primer-parrafo">
                This is an odd position for me. Before, I’ve found it easy to explain my novels. Each one was built around one or two central premises. <a href="https://brandonsanderson.com/books/mistborn/the-final-empire/" class="book-link" target="_blank">The gang of thieves who want to rob an immortal emperor.</a> <a href="https://brandonsanderson.com/books/elantris/elantris/" class="book-link" target="_blank">A man cast down by a terrible, magical disease and forced to rebuild a society among those similarly afflicted.</a> A boy who finds that librarians secretly rule the world. <br/>
            </div>
            <img class="img1" src="img/mapa.jpg">

           <span class="segundo-parrafo"> 
                
            
                
            
               <span class="cursiva">Kings</span> has stymied me each time I’ve tried to describe it. I often end up talking about its creation. (How I started work on it <span class="negrita">over fifteen </span> years ago. How I’ve written hundreds of thousands of words worth of worldbuilding for it. How much the project has come to mean to me over the decades.) But such things describe the book but don’t actually tell you anything. And so this time, I’m going to try to talk about what <span class="cursiva">The Way Of Kings</span> is. <br/><br/>
                
               It’s a book about characters I love. I’ve begun to build a reputation as the “magic system” guy. The author who creates interesting types of magic for every book he writes. On one hand, this delights me, as I do put a lot of effort into the magic in my books. But a great book for me isn’t about a magic, it’s about the people that the magic affects. <br/><br/>

                The book started its life many years ago being about a young man who made a good decision. I wrote the entire book that way before realizing I’d done it wrong. So I started over from scratch and had him take the other fork, the more difficult fork. The fork that cast him into some of the worst imaginable circumstances, ground him against the stones of a world where there is no soil or sand on the ground. <br/><br/>
                <img class="img2" src="img/sketch.jpg">
                My goal: to prove to myself, and to him, that the “good” decision was not actually the best one. The Way Of Kings is his story, though he shares the space with several others. They’ll get their own books later in the series.
              
            </span>
            
    </div>

    <form class="form">

        <div class="frase-form">
            <span class="negrita">¿Qué te ha parecido este libro?</span>
        </div>

        <div class="selection">
                <input class="selection-item" type="radio" name="rating" value="Excelente" checked> Excelente
                <input class="selection-item" type="radio" name="rating" value="Muy bueno"> Muy bueno
                <input class="selection-item" type="radio" name="rating" value="Aceptable"> Aceptable
                <input class="selection-item" type="radio" name="rating" value="Malo"> Malo

        </div>

        <div class="frase-form dos">
                <span class="negrita">¿Por qué?</span>
            </div>
        <textarea class="comment" name="comment" >
                Escribe tu comentario...
        </textarea>

        <input type="submit" class="enviar" value="Enviar">


    </form>









</section>