<header class="header">

    <span><h1 class="titulo">BRANDON <br/> SANDERSON</h1></span>

    <div class="img-header persona">
        <button type="button">
            <img src="img/persona.png">
        </button>
    </div>
    

    <form id="demo-2">
        <input type="search" placeholder="">
    </form>

    <!--<div class="img-header lupa">
        <button type="button">
             <img src="img/magnifying-glass-search.png"> 
             
             <ul class="search-dropdown">
                <div class="form-search">
            
                    <input type="search" class="busqueda" placeholder="">
            
                </div>
            </ul>
        </button> 
        -->

        
   

    

   
    
   <!-- <div class="form-search">
        
        <input type="search" class="busqueda" placeholder="¿Qué quieres leer?">

    </div> -->

</header>