body {
    
    background: linear-gradient ($azul-claro, $azul-fuerte );
    background-size: 100%;
    font-size: $base-size;
    
   
}

button{
    background: none;
    border: none;
}

a {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

.cursiva{
    font-style: italic;
}

.negrita{
    font-weight: bold;
}